<tr>
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td><span [ngClass]="product.selected?'fa fa-check text-success':'fa fa-close text-danger'" class=""></span></td>
  <td><span [ngClass]="product.available?'fa fa-check text-success':'fa fa-close text-danger'" class=""></span></td>
  <td>
    <button (click)="onSelect(product)" class="btn btn-sm btn-outline-success"><span
      class="fa fa-user-secret"></span></button>
    <button (click)="onUpdateSelected(product)" class="btn btn-sm btn-outline-warning"><span
      class="fa fa-edit"></span>update selected
    </button>
    <button (click)="onDeleteProduct(product)" class="btn btn-sm btn-outline-danger"><span
      class="fa fa-trash-o"></span></button>
    <button (click)="onEditProduct(product)" class="btn btn-sm btn-outline-danger"><span
      class="fa fa-edit"></span></button>
  </td>
</tr>
