<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar navbar-nav">
    <li>
      <button [ngClass]="state.currentAction?.type==ProductsActionsTypes.GET_ALL_PRODUCTS_SUCCESS?'btn-danger':'btn-outline-info'" (click)="onGetAllProducts()" class="btn m-2">All</button>
    </li>
    <li>
      <button [ngClass]="state.currentAction?.type==ProductsActionsTypes.GET_SELECTED_PRODUCTS_SUCCESS?'btn-danger':'btn-outline-info'" (click)="onGetSelectedProducts()" class="btn ml-2">Selected</button>
    </li>
    <li>
      <button [ngClass]="state.currentAction?.type==ProductsActionsTypes.NEW_PRODUCT_SUCCESS?'btn-danger':'btn-outline-info'"  (click)="onNewProduct()" class="btn ml-2">New product</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav m-lg-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="input-group">
          <input type="text" class="form-control" ngModel name="keyword">
          <button class="btn btn-outline-info"><span class="fa fa-search"></span></button>
        </div>
      </form>
    </li>

  </ul>
</nav>
